<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mess Allotment</title>
</head>
<body>
    <div>
        <select name="Messes">
            <option value="pg_block">PG Block Mess</option>
            <option value="third_block">Third Block Mess</option>
            <option value="fourth_block">Fourth Block Mess</option>
            <option value="fifth_block">Fifth Block Mess</option>
            <option value="seventh_block">Seventh Block Mess</option>
            <option value="eighth_block">Eighth Block Mess</option>
             <option value="mega_mess">Mega Mess</option>
            <option value="girls_block1">Girls Mess1</option>
            <option value="girls_block2">Girls Mess2</option>
        </select>
        <br><br>
        <input type="submit" value="Apply">
    </div>
</body>
</html>