<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mess Allotment</title>
</head>
<body>
<div>
    <form action="{% url 'allot_details' %}" method="POST">
        {% csrf_token %}
        <select name="Messes">
            <option value="select">---Select---</option>
            {% for m in sobj %}
            <option value="{{m.mess_id}}">{{m.mess_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit" value="Apply" action="allot">Apply</button>
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</div>
</body>
</html>