<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script type="text/javascript">
<!--    function validate()-->
<!--    {-->
<!--       if (!/^[a-zA-Z]*$/g.test(document.getElementById("name")))-->
<!--       {-->
<!--           alert("Alphabetic characters only");-->
<!--           $(name).val('');-->
<!--           document.myForm.name.focus();-->
<!--           return false;-->
<!--       }-->
<!--    }-->
    function ValidateSize(file) {
        var FileSize = file.files[0].size/1024 ;
         alert(FileSize);// in kb
        if (FileSize > 150) {
            alert('File size exceeds 150 kb');
            $(file).val(''); //for clearing with Jquery
        } else {

        }
    }
        function checkRadio(field)
      {
              if(!field.length) {
                field = [field];
              }
              for(var i=0; i < field.length; i++) {
                if(field[i].checked) return field[i].value;
              }
              return false;
       }
        function checkForm()
        {
            if(document.getElementById("pwd").value != "" && document.getElementById("pwd").value == document.getElementById("pwd1").value)
            {
                if(document.getElementById("pwd").value.length < 8)
                {
                    alert("Password must contain at least 8 characters!")
                    document.getElementById("pwd").value.focus();
                    return false;
                }
                re = /[0-9]/;
                if(!re.test(document.getElementById("pwd").value))
                {
                    alert("Password must contain at least one number(0-9)!")
                    document.getElementById("pwd").value.focus();
                    return false;
                }
                re = /[a-z]/;
                if(!re.test(document.getElementById("pwd").value))
                {
                    alert("Password must contain at least one lowercase character(a-z)!")
                    document.getElementById("pwd").value.focus();
                    return false;
                }
                re = /[A-Z]/;
                if(!re.test(document.getElementById("pwd").value))
                {
                    alert("Password must contain at least one uppercase character(A-Z)!")
                    document.getElementById("pwd").value.focus();
                    return false;
                }
            }
            else
            {
                alert("Password must be same")
                document.getElementById("pwd").value.focus();
                return false;
            }
            if (isNaN(document.getElementById("num").value)){
              document.getElementById("num").innerHTML="Enter Numeric value only";
              return false;
            }
            else{
              return true;
            }
            if (isNaN(document.getElementById("num1").value)){
              document.getElementById("num1").innerHTML="Enter Numeric value only";
              return false;
            }
            else{
              return true;
            }
            if (isNaN(document.getElementById("num2").value)){
              document.getElementById("num2").innerHTML="Enter Numeric value only";
              return false;
            }
            else{
              return true;
            }
            if(radioValue = checkRadio(document.getElementsByName("gender")))
            {
                return true;
            }
            else
            {
                alert("Please select your gender!");
                return false;
            }
            if (!/^[a-zA-Z]*$/g.test(document.getElementById("name").value))
            {
               alert("Alphabetic characters only");
<!--               $(name).val('');-->
               document.getElementById("name").value.focus();
               return false;
            }
            if (!/^[a-zA-Z]*$/g.test(document.getElementById("course").value))
            {
               alert("Alphabetic characters only");
<!--               $(name).val('');-->
               document.getElementById("course").value.focus();
               return false;
            }
            if (!/^[a-zA-Z]*$/g.test(document.getElementById("dept").value))
            {
               alert("Alphabetic characters only");
<!--               $(name).val('');-->
               document.getElementById("dept").value.focus();
               return false;
            }
        }
    </script>
</head>
<body>
    <form name="form" action="{% url 'register' %}" method="post" onsubmit="return checkForm()">
        {% csrf_token %}
        <input type="text" name="reg_no" id="num" placeholder="registration number" maxlength="6" required><br>
        <input type="text" name="name" id="name" placeholder="name" maxlength="50" required><br>
        <input type="radio" name="gender" value="M" checked> Male<br>
        <input type="radio" name="gender" value="F"> Female<br>
        <input type="radio" name="gender" value="T">Transgender<br>
        <input type="text" name="course" id="course" placeholder="course" required><br>
        <input type="text" name="dept" id="dept" placeholder="department" required><br>
        <select name="hostel" required>
            <option value="select">---Select---</option>
            <option value="Karavali">Karavali</option>
            <option value="Arawali">Arawali</option>
            <option value="Vindya">Vindya</option>
            <option value="Satpura">Satpura</option>
            <option value="Nilgiri">Nilgiri</option>
            <option value="Sahyadri">Sahyadri</option>
            <option value="Trishul">Trishul</option>
            <option value="Everest">Everest</option>
            <option value="Himalaya">Himalaya</option>
            <option value="Kailash">Kailash</option>
            <option value="PG">PG Block</option>
            <option value="Ganga">Ganga</option>
            <option value="Yamuna">Yamuna</option>
            <option value="Saravathi">Saravathi</option>
            <option value="Netravati">Netravati</option>
        </select><br>
        <input type="text" name="room_no" id="num1" placeholder="room number" maxlength="6" required><br>
        <input type="email" name="email" placeholder="email id" autocomplete="off" required><br>
        <input type="tel" name="contact" placeholder="contact number" pattern="[0-9]{10}" required><br>
        <input type="text" name="mess_roll_no" id="num2" placeholder="mess roll number" maxlength="6" required><br>
        <input type="file" onchange="ValidateSize(this)" name="img" placeholder="photo"><br>
        <input type="file" onchange="ValidateSize(this)" name="sign" placeholder="signature"><br>
        <input type="password" name="password" placeholder="password" id="pwd" required><br>
        <input type="password" name="password1" placeholder="confirm password" id="pwd1" required><br>
        <input type="submit">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>